.header-container {
    display: flex;
    align-items: center;
    border-style: solid;
    flex-wrap: wrap;
    justify-content: center;
}

.header-inner-container {
    display: flex;
    border-style: solid;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-container {
    display: inline-block;
    border-style: solid;
    justify-content: center;

}

.nav-container {
    display: inline-block;
    border-style: solid;
    justify-content: center;
    
    
}

